@model IEnumerable<CrudPrueba.Models.Cliente>

@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome!</h1>

<div class="container">

    @if(TempData["mensaje"] != null)
            {
                <div class="alert alert-warning alert-dissmissible fade show" role="alert">
                    @TempData["Mensaje"]
                    <button type="button" class="close" date-dismiss="Alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

    <div class="row">
        <div class="col-sm-6">
            <h3> List of Clients</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Clientes"> Add new Clients</a>
        </div>
    </div>
    <div class="row">
        @if(Model.Count() >0)
        {
            <table class="table table-bordered table-stripped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Codigo)</td>
                        <td>@Html.DisplayNameFor(m => m.Nombre)</td>
                        <td>@Html.DisplayNameFor(m => m.FechaNacimiento)</td>
                        <td>@Html.DisplayNameFor(m => m.EstadoCivil)</td>
                        <td>@Html.DisplayNameFor(m => m.Estado)</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                        
                            <td>@item.Codigo</td>
                            <td>@item.Nombre</td>
                            <td>@item.FechaNacimiento</td>
                            <td>@item.EstadoCivil</td>
                            <td>@item.Estado</td>
                            <td>
                                <a asp-controller="Clientes" asp-action="Edit" asp-route-Codigo="@item.Codigo" class="btn btn-warning">Edit</a>
                                <a asp-controller="Clientes" asp-action="Delet" asp-route-Codigo="@item.Codigo" class="btn btn-danger">Delet</a>
                            </td>
                        </tr>
                        
                    }

                </tbody>

            </table>

        }
        else
            {
        <p> We can't find any data</p>
            }

    </div>
</div>